<h1>Log in</h1>


<% flash.each do |css_class, message| %>
  <div class="row">
    <div class="alert alert-dismissible alert-<%= css_class %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= message %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= form_for(:session, html: {class: "form-horizontal"}) do |f| %>
      <fieldset></fieldset>

      <div class="form-group">
        <%= f.label :email, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-12">
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>
    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
  </div>
</div>
