<p id="notice"><%= notice %></p>

<h1>My Feeds</h1>

<p>
<%= link_to 'New Feed', new_user_feed_path %>
</p>



<div id="feeds"></div>


<img src='http://www.fostersystems.com/ccdata/images/spinner.gif' id='next_page_spinner' />

<script>
  var userId = <%= @user.id %>;
</script>
<%= javascript_include_tag 'pagination' %>
