<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<%= link_to 'Edit', edit_user_feed_path(id: @feed) %> |
<%= link_to 'Back', user_feeds_path %>
