<h1>Wolfie's List</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>
Welcome to the Wolfiereader! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>

<p>If the link above does not work copy and paste the following into your browser: <%= edit_account_activation_url(@user.activation_token, email: @user.email) %> </p>
